{% extends "header.html"  %}
{% block content %}
<div id="display">
	<div id="productName">
		<h1>{{data.product_name}}</h1>
	</div>
	<div>
		<img src={{url_for('static', filename='uploads/'+data.image) }} id="productImage"/>
	</div>

	<div id="productDescription">
		<h2>Details</h2>
		<table id="descriptionTable">
			<tr>
				<td>Name</td>
				<td>{{data.description}}</td>
			</tr>
			<tr>
				<td>Regular Price</td>
				<td>&#8377 {{data.regular_price}}</td>
			</tr>
            <tr>
				<td>Discounted Price</td>
				<td>&#8377 {{data.discounted_price}}</td>
			</tr>
			<tr>
				<td>Stock</td>
				<td>{{data.quantity}}</td>
			</tr>
		</table>
		<h2>Description</h2>
		<p>{{data['description']}}</p>
	</div>
	<div id="addToCart">
		<a href="/addToCart?productId={{request.args.get('productId')}}">Add to Cart</a>
	</div>
</div>

{% endblock content %}